.haz0110-fontawesome-icons {
    color: antiquewhite;
}

.color3DModelBackground {
    background-color: #4b3a52;
}

.color3DModelCard {
    background-color: #E7AB79;
}

.resetLink {
    text-decoration: none;
}