body {
    font-family: 'Poppins', sans-serif;
}

.haz0110-fontawesome-icons {
    color: antiquewhite;
}

.colorContainerBG-ver01 {
    background-color: #4b3a52;
}

.colorContainerOverlay-ver01 {
    background-color: #E7AB79;
}

.colorContainerBG-ver02 {
    background-color: #F47C7C;
}

.colorContainerOverlay-ver02 {
    background-color: #EF9F9F;
}

.resetLink {
    text-decoration: none;
}

.brandFontStyle {
    font-family: 'Mr Dafoe', cursive;
}

.croppedImage {
    object-fit: cover;
    overflow: hidden;
}